@import url('styles/Header.scss');
@import url('styles/Main.scss');
@import url('styles/CallToAction.scss');
@import url('styles/Specials.scss');
@import url('styles/CustomerSays.scss');
@import url('styles/Footer.scss');

ul {
  list-style: none;
  li a {
    color: var(--secondary-brown);
    text-decoration: none;
  }
}

button {
  border: none;
  border-radius: 16px;
  background: var(--primary-yellow);
  color: black;
  padding: 16px 24px;
}

/* Responsive */

@media (min-width: 980px) {
  header, footer, .call-to-action, .online-menu, .specials, .customer-says {
    width: 960px;
  }
}

@media (max-width: 850px) {
  header, footer, header ul {
    margin: auto;
    flex-direction: column;
  }
  header, footer {
    gap: 20px;
  }
}