@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400..800&display=swap');

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;

  --secondary-orange: #ee9972;
  --secondary-paleorange: #fbdabb;
  --secondary-grey: #edefee;
  --secondary-brown: #333333;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 960px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: 'Markazi Text';
  font-weight: medium;
  font-size: 64px;
}
.subtitle {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 40px;
}

.lead-text {
  font-weight: medium;
  font-size: 18px;
}
.section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}
.section-categories {
  font-weight: 800;
  font-size: 16px;
}
.card-title {
  font-weight: bold;
  font-size: 18px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

.highlight-text {
  font-weight: medium;
  font-size: 16px;
}
