@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;

  --secondary-orange: #ee9972;
  --secondary-paleorange: #fbdabb;
  --secondary-grey: #edefee;
  --secondary-brown: #333333;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Karla';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 64px;
}
.subtitle {
  font-family: 'Markazi Text';
  font-weight: 400;
  font-size: 40px;
}

.lead-text, button {
  font-weight: 500;
  font-size: 18px;
}
.section-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}
.section-categories {
  font-weight: 800;
  font-size: 16px;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.highlight-text {
  font-weight: 500;
  font-size: 16px;
}